<div class="wrapper col-md-12">
    <div class="website-title col-md-6">
        <div class="website-title-wrapper">
            <h1 class="main-title">PharmaConnect</h1>
            <h4 class="sub-title">Your one-stop drug solution</h4>
        </div>
    </div>
    <div class="signup col-md-6">
        <div class="signup-wrapper">
            <h1>Register</h1>
            
            <mat-button-toggle-group name="roleToggle" value="{{role}}" (change)="changeRole($event)">
                <mat-button-toggle value="ROLE_USER">Customer</mat-button-toggle>
                <mat-button-toggle value="ROLE_ADMIN">Store</mat-button-toggle>
            </mat-button-toggle-group>
            <div *ngIf="role==='ROLE_USER'">
                <form [formGroup]="customerSignupForm" (ngSubmit)="signUp()"> 
                <div class="form-group mb-3">
                    <label for="fullname">Full Name</label>
                    <input formControlName="fullname" type="text" class="form-control" id="fullname" placeholder="Enter your name">
                    <div class="error-message" *ngIf="submitted && customerSignupForm.get('fullname')?.errors?.['required']">Please provide full name</div>
                </div>
                <div class="form-group mb-3">
                    <label for="email">Email address</label>
                    <input formControlName="email" type="email" class="form-control" id="email" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    <div class="error-message" *ngIf="submitted && customerSignupForm.get('email')?.errors?.['required']">Please provide email address</div>
                    <div class="error-message" *ngIf="submitted && customerSignupForm.get('email')?.errors?.['email']">Please provide valid email address</div>
                </div>
                <div class="form-group mb-3">
                    <label for="password">Password</label>
                    <input formControlName="password" type="password" class="form-control" id="password" placeholder="Password">
                    <small id="passwordHelp" class="form-text text-muted">Password must contain minimum 8 and maximum 16 characters, one Uppercase, one Lowercase, one Number and one special chaarcter.</small>
                    <div class="error-message" *ngIf="submitted && customerSignupForm.get('password')?.errors?.['required']">Please provide password</div>
                    <div class="error-message" *ngIf="submitted && customerSignupForm.get('password')?.errors?.['pattern']">Password must contain an uppercase, lowercase, number and special character.</div>
                    <div class="error-message" *ngIf="submitted && customerSignupForm.get('password')?.errors?.['minLength']">Password must contain atleast 8 characters.</div>
                    <div class="error-message" *ngIf="submitted && customerSignupForm.get('password')?.errors?.['maxLength']">Password must contain max 16 characters.</div>
                </div>
                <div class="form-group mb-3">
                    <label for="mobile">Mobile Number</label>
                    <input formControlName="mobile" type="text" class="form-control" id="mobile" placeholder="Enter phone">
                    <div class="error-message" *ngIf="submitted && customerSignupForm.get('mobile')?.errors?.['required']">Please provide mobile number</div>
                    <div class="error-message" *ngIf="submitted && customerSignupForm.get('mobile')?.errors?.['pattern']">Please provide valid mobile number</div>
                    <div class="error-message" *ngIf="submitted && customerSignupForm.get('mobile')?.errors?.['minLength']">Please provide valid mobile number length</div>
                    <div class="error-message" *ngIf="submitted && customerSignupForm.get('mobile')?.errors?.['maxLength']">Please provide valid mobile number length</div>
                </div>
                <div class="form-group mb-3">
                    <label for="dob">Date of Birth</label>
                    <input formControlName="dob" type="date" max="{{maxDate}}" class="form-control" id="dob" placeholder="Date of Birth">
                    <div class="error-message" *ngIf="submitted && customerSignupForm.get('dob')?.errors?.['required']">Please provide Date of Birth</div>
                </div>
                <div class="form-group mb-3">
                    <label for="address">Address</label>
                    <input formControlName="address" type="text" class="form-control" id="address" placeholder="Your Address">
                    <div class="error-message" *ngIf="submitted && customerSignupForm.get('address')?.errors?.['required']">Please provide Address</div>
                </div>
                <div class="form-group mb-3">
                    <label for="zip">Zipcode</label>
                    <input formControlName="zip" type="text" class="form-control" id="zip" placeholder="Zipcode">
                    <div class="error-message" *ngIf="submitted && customerSignupForm.get('zip')?.errors?.['required']">Please provide Zipcode</div>
                </div>
                <button type="submit" class="btn btn-primary submit-btn">Sign Up</button>
                </form>
            </div>
            <div *ngIf="role==='ROLE_ADMIN'">
                <form [formGroup]="storeSignupForm" (ngSubmit)="signUp()"> 
                    <div class="form-group mb-3">
                        <label for="storeName">Store Name</label>
                        <input formControlName="storeName" type="text" class="form-control" id="storeName" placeholder="Enter the store name">
                        <div class="error-message" *ngIf="submitted && storeSignupForm.get('storeName')?.errors?.['required']">Please provide store name</div>
                    </div>
                    <div class="form-group mb-3">
                        <label for="managerName">Manager Name</label>
                        <input formControlName="managerName" type="text" class="form-control" id="managerName" placeholder="Enter the manager name">
                        <div class="error-message" *ngIf="submitted && storeSignupForm.get('managerName')?.errors?.['required']">Please provide manager name</div>
                    </div>
                    <div class="form-group mb-3">
                        <label for="email">Email address</label>
                        <input formControlName="email" type="email" class="form-control" id="email" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        <div class="error-message" *ngIf="submitted && storeSignupForm.get('email')?.errors?.['required']">Please provide email address</div>
                        <div class="error-message" *ngIf="submitted && customerSignupForm.get('email')?.errors?.['email']">Please provide valid email address</div>
                    </div>
                    <div class="form-group mb-3">
                        <label for="password">Password</label>
                        <input formControlName="password" type="password" class="form-control" id="password" placeholder="Password">
                        <small id="passwordHelp" class="form-text text-muted">Password must contain minimum 8 and maximum 16 characters, one Uppercase, one Lowercase, one Number and one special chaarcter.</small>
                        <div class="error-message" *ngIf="submitted && storeSignupForm.get('password')?.errors?.['required']">Please provide password</div>
                        <div class="error-message" *ngIf="submitted && storeSignupForm.get('password')?.errors?.['pattern']">Password must contain an uppercase, lowercase, number and special character.</div>
                        <div class="error-message" *ngIf="submitted && storeSignupForm.get('password')?.errors?.['minLength']">Password must contain atleast 8 characters.</div>
                        <div class="error-message" *ngIf="submitted && storeSignupForm.get('password')?.errors?.['maxLength']">Password must contain max 16 characters.</div>
                    </div>
                    <div class="form-group mb-3">
                        <label for="mobile">Mobile Number</label>
                        <input formControlName="mobile" type="text" class="form-control" id="mobile" placeholder="Enter phone">
                        <div class="error-message" *ngIf="submitted && storeSignupForm.get('mobile')?.errors?.['required']">Please provide mobile number</div>
                        <div class="error-message" *ngIf="submitted && customerSignupForm.get('mobile')?.errors?.['pattern']">Please provide valid mobile number</div>
                        <div class="error-message" *ngIf="submitted && customerSignupForm.get('mobile')?.errors?.['minLength']">Please provide valid mobile number length</div>
                        <div class="error-message" *ngIf="submitted && customerSignupForm.get('mobile')?.errors?.['maxLength']">Please provide valid mobile number length</div>
                    </div>
                    <div class="form-group mb-3">
                        <label for="address">Address</label>
                        <input formControlName="address" type="text" class="form-control" id="address" placeholder="Your Address">
                        <div class="error-message" *ngIf="submitted && storeSignupForm.get('address')?.errors?.['required']">Please provide Address</div>
                    </div>
                    <div class="form-group mb-3">
                        <label for="zip">Zipcode</label>
                        <input formControlName="zip" type="text" class="form-control" id="zip" placeholder="Zipcode">
                        <div class="error-message" *ngIf="submitted && storeSignupForm.get('zip')?.errors?.['required']">Please provide Zipcode</div>
                    </div>
                    <div class="form-group mb-3">
                        <label for="registrationNumber">Registration Number</label>
                        <input formControlName="registrationNumber" type="text" class="form-control" id="registrationNumber" placeholder="Enter the store's registration number">
                        <div class="error-message" *ngIf="submitted && storeSignupForm.get('registrationNumber')?.errors?.['required']">Please provide store registration number</div>
                    </div>
                    <button type="submit" class="btn btn-primary submit-btn">Sign Up</button>
                </form>
            </div>

            <div class="new-user-link">
                Already registered? <a routerLink="/login">Click to login</a>
            </div>
        </div>
    </div>
</div>